.container {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.welcome_message h1{
    margin-top: 1rem;
}

.main_content, .welcome_message {
    background-image: url('../../assets/lista.png'); 
    background-size: cover; /* Faz a imagem cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    color: #070b3b;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da tela */
    text-align: center; /* Alinha o texto ao centro */
}

.imagemLista {
    display: none; /* Opcional: caso queira esconder a imagem original */
}
